@font-face {
  font-family: "noto";
  font-weight: 400;
  font-style: normal;
  src: local("noto"),
    url(@/assets/fonts/NotoSans-Regular.ttf)
    format('truetype');
}
@font-face {
  font-family: "noto";
  font-weight: 700;
  font-style: normal;
  src: local("noto"),
    url(@/assets/fonts/NotoSans-Bold.ttf)
    format('truetype');
}
@font-face {
  font-family: "noto";
  font-weight: 900;
  font-style: normal;
  src: local("noto"),
    url(@/assets/fonts/NotoSans-Black.ttf)
    format('truetype');
}

@font-face {
  font-family: "pixelop";
  font-weight: 400;
  font-style: normal;
  src: local("pixelop"),
    url(@/assets/fonts/PixelOperator.ttf)
    format('truetype');
}

@font-face {
  font-family: "pixelop";
  font-weight: 700;
  font-style: normal;
  src: local("pixelop"),
    url(@/assets/fonts/PixelOperator-Bold.ttf)
    format('truetype');
}

.pixelop-font {
  font-family: "pixelop";
}

.noto-font {
  font-family: "noto";
}

/* Page transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

/* TOASTS */
.Vue-Toastification__toast {
  min-height: 40px !important;
  padding: 12px 14px !important;
  border-radius: 3px !important;
}
.Vue-Toastification__toast.Vue-Toastification__toast--success {
  background-color: #05A55A;
}
.Vue-Toastification__toast.Vue-Toastification__toast--error {
  background-color: #DD3055;
}
.Vue-Toastification__toast.Vue-Toastification__toast--warning {
  background-color: #EE8D30;
}
.Vue-Toastification__slideBlurred-leave-active {
  animation-duration: 200ms !important;
}
.Vue-Toastification__slideBlurred-enter-active {
  animation-duration: 200ms !important;
}